/*id*/

 #primary-heading {
    color: #6246a5;
}

 /*class*/

.body {
    color:rgb(80, 89, 99);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 /*tags*/

h1{
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color:rgb(95, 107, 119);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(#D3C5E5, white);
    height: 800px;
    background-repeat: no-repeat;
}

section {
    width: 50%;
    margin: 50px auto;
}