@import "variables.css";

body {
    font-family: "barlow-regular", sans-serif;
}

/*///// NAV //////*/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    height: 100px;
    position: sticky;
}

.navbar a {
    color: hsl(208, 12%, 32%);
    text-decoration: none;
    padding: 15px;
    display: block;
}

.nav-tabs {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navbar a:hover {
    color: hsl(207, 10%, 17%);
    font-family: "barlow-medium", sans-serif;

}

/*///// HERO SECTION //////*/

.hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 280px;
}

.project-hero {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 280px;
}

.hero-heading {
    color: #242424;
    font-family: "zilla-slab-medium", serif;
    font-size: 64px;
}

.project-heading {
    color: #242424;
    font-family: "zilla-slab-medium", serif;
    font-size: 52px;
}

.top-align-items {
    display: flex;
}

.center-align-items {
    display: flex;
    align-items: flex-start;
    max-width: 280px;
}

.bottom-align-items {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 400px;
}

.overflow-bottom-align {
    display: flex;
    position: relative;
    left: -1vw;
    max-width: 48px;
    max-height: 48px;
}

.overflow-top-align {
    display: flex;
    overflow: hidden;
    position: relative;
    left: +10px;
    max-width: 48px;
    max-height: 48px;
    align-self: flex-end;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-column {
    display: flex;
    flex-direction: column;
}

.hero-div-gap {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    gap: 60px;
}

.full-width {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
}

.full-width img {
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 55%;
}

.hobbies-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scroll-container {
    overflow: auto;
    white-space: nowrap;
    justify-content: space-evenly;
}

.rounded-photos {
    position: relative;
    height: 40vh;
    width: auto;
    overflow: hidden;
    border-radius: 24px;
    padding: 0.5vw;
}

.type-page-image {
    width: 100px;
    height: 100px;
}


/*/////COMMON//////*/

.primary-heading {
    color: #242424;
    font-family: "zilla-slab-medium", serif;
    font-size: 64px;
}

.secondary-heading {
    font-family: "zilla-slab-medium", serif;
    color: #BE9B74;
}

.tertiary-heading {
    font-family: "zilla-slab-medium", serif;
    color: hsl(210, 4%, 21%);
    margin-bottom: 0;
}

section {
    width: 64%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    color: hsl(208, 12%, 32%);
    margin-top: 10px;
    font-size: 18px;
    line-height: 120%;
}

h5 {
    color: hsl(210, 5%, 45%);
}

h4 {
    color: hsl(207, 4%, 57%);
}

h2 {
    color: hsl(0, 0%, 33%);
}



mark {
    background: cyan;
}


.wrap-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
}

.project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-row-end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-evenly;
}

.type-days-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 220px;
}

.project-col {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: end;
    flex-wrap: nowrap;
}

.project-col-start {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    flex-wrap: wrap;
}

.col-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-wrap-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 122px;
    align-items: center;
}


a {
    text-decoration: none;
    display: block;
}

p {
    color: hsl(208, 12%, 32%);
    margin-top: 10px;
    font-size: 18px;
    line-height: 120%;
    display: flex;
}

p b {
    color: #9D7549;
    ;
}

img {
    display: inline-block;
}

.primary-button {
    padding: 12px 12px;
    color: hsl(0, 0%, 96%);
    background-color: var(--primary-colour);
    border-radius: 4px;
    border: none;
    height: auto;
    font-family: "barlow-medium", serif;
}

/*/////LINKS//////*/

.external-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 60px;
}

.links {
    color: hsl(207, 10%, 17%);
    text-decoration: none;
    font-family: "barlow-regular", serif;
    font-size: 16px;
}


/*/////GRID//////*/

.category-thumbnail {
    position: relative;
    width: 25vh;
    height: 25vh;
    overflow: hidden;
    text-align: end;
    border-radius: 30px;
    background-color: #FAF8F5;
}

.category-thumbnail:hover {
    background-color: #faf4ea;
}

.project-thumbnail {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
    text-align: end;
    border-radius: 30px;
    background-color: #FAF8F5;
}

.project-thumbnail:hover {
    background-color: #faf4ea;
}

.category-thumbnail-image {
    width: 100%;
}

.project-thumbnail-image {
    width: 100%;
}

.category-list h2:hover {
    color: #9D7549;
}

.project-list h2:hover {
    color: #9D7549;
}

.bottom-right {
    position: absolute;
    bottom: 6px;
    right: 32px;
}

.bottom-right img {
    position: absolute;
    bottom: 18px;
    right: 0px;
}

.type-grid {
    display: flex;
    flex-direction: row;
    gap: 200px;
}


.footer-links {
    position: sticky;
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 100px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.footer-logos {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.type-page-image-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.type-page-image {
    width: 90px;
    height: 90px;
}

/*/////LAPTOPS//////*/

@media (max-width: 1024px) {
    .navbar {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .overflow-bottom-align {
        left: -2vw;
        overflow: visible;
    }

    .wrap-row {
        display: flex;
        width: 80%;
    }

    .category-thumbnail {
        width: 180px;
        height: 180px;
        border-radius: 24px;
    }

    .hero-div-gap {
        flex-direction: row;
        display: flex;
        width: 80%;
        gap: 30px;
    }

    .footer-links {
        margin-left: 10vw;
        margin-right: 10vw;
        gap: 36px;
    }

    .type-days-row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .full-width img {
        transform: scale(1.5);
    }

    .project-col-start img {
        width: 100%;
        transform: scale(1.2);
    }

    .project-col-start {
        gap: 80px;
    }

    .project-row-end {
        row-gap: 20px;
    }

    .project-row-end img {
        transform: scale(1);
    }

}

/*/////TABLETS//////*/

@media (max-width: 768px) {
    .navbar {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .overflow-bottom-align {
        left: -3vw;
        overflow: visible;
    }

    .center-align-items {
        max-width: 300px;
    }

    .category-thumbnail {
        width: 240px;
        height: 240px;
        row-gap: 16px;
        border-radius: 18px;
    }

    .wrap-row {
        justify-content: space-around;
        width: 72%;
    }

    .hero-div-gap {
        flex-direction: column;
        width: 70%;
    }

    .top-align-items {
        max-height: 200px;
        max-width: 500px;
    }

    .bottom-align-items {
        max-width: 400px;
    }

    .footer-links {
        margin-left: 10vw;
        margin-right: 10vw;
        gap: 36px;
    }

    .rounded-photos {
        height: 36vh;
        border-radius: 12px;
    }

    .type-days-row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .full-width img {
        transform: scale(1.5);
    }

    .project-col-start img {
        width: 100%;
        transform: scale(1.2);
    }

    .project-col-start {
        gap: 80px;
    }
}

/*/////MOBILES//////*/

@media (max-width: 480px) {
    .navbar {
        margin-left: 8vw;
    }

    .nav-tabs {
        gap: 20px;
    }

    .hero-div-gap {
        flex-direction: column;
        display: row;
    }

    .project-hero {
        flex-direction: column;
        height: 500px;
    }

    .full-width img {
        transform: scale(1.5);
    }

    section {
        margin: 20px auto;
    }

    .type-days-row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .top-align-items {
        min-height: 120px;
    }

    .center-align-items {
        max-height: auto;
    }

    .center-align-items img {
        display: none;
    }

    .category-thumbnail {
        width: 260px;
        height: 260px;
    }

    .footer-links {
        margin-top: 20px;
        margin-bottom: 48px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        text-align: center;
    }

    .rounded-photos {
        height: 36vh;
        border-radius: 12px;
    }

    .type-page-image {
        width: 64px;
        height: 64px;
    }

    .project-col-start img {
        width: 100%;
        transform: scale(1.5);
    }

    .project-col-start {
        gap: 30px;
    }

    .project-row-end {
        row-gap: 12px;
    }

    .project-row-end img {
        transform: scale(1);
    }

}