body {
    background-image: linear-gradient(hsl(266, 38%, 84%), hsl(0, 0%, 100%));
    height: 800px;
    background-repeat: no-repeat;
    font-family: "Mukta", sans-serif;
}

section {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction:column;
}

.project-grid{
    display: flex;
}

#primary-heading {
    color: hsl(258, 40%, 46%);
    font-family: "Zilla", sans-serif;
}

.secondary-heading {
    font-family: "Zilla", sans-serif;
    color:hsl(212, 11%, 35%);
}

.tertiary-heading {
    font-family: "Zilla", sans-serif;
    color:hsl(212, 11%, 35%);
    margin-bottom: 0;
}

p{
    color:hsl(210, 11%, 42%);
    margin-top: 10px;
}

img{
    display: inline-block;
    padding-right: 20px;
}

.footer {
    height: 100px;
    background-color: hsl(267, 92%, 90%);
  }

.wrap-column {
    display: flex;
    flex-direction:row;
}